.idea/*
docker/nginx/*/logs
docker/mysql/logs
docker/jenkins/data
docker/grafana/data
docker/cadvisor/logs
docker/prometheus/data
filesystem/staging/*
!filesystem/staging/.gitignore
filesystem/production/*
!filesystem/production/.gitignore
.env
percona-mms/data